<h1>cadastre seu livro</h1>
<form action="/books/insertbook" method="post" class="form">
<div class="form-control">
 <label for="title"> titulo:</label>
 <input type="text" name="title" placeholder="digite o título">
</div>
<div class="form-control">
<label for="nm_paginas">quantidade de paginas</label>
<input type="text" name="nm_paginas" placeholder="ex..:5000">
</div>
<div class="form-control">
<input type="submit" value="cadastrar">
</div>
</form>