<h1>edite seu livro</h1>
<form action="/books/updatebook" method="post" class="form">
<input type="hidden" name="id" value="{{book.id}}">
<div class="form-control">
 <label for="title"> titulo:</label>
 <input type="text" name="title" value="{{book.title}}">
</div>
<div class="form-control">
<label for="nm_paginas">quantidade de paginas</label>
<input type="text" name="nm_paginas" value="{{book.nm_paginas}}">
</div>
<div class="form-control">
<input type="submit" value="atualizar">
</div>
</form>